* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  padding: 2rem 2rem;
}
.header{
    background-color: #1B1F55;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px 40px;
}

/* Logo */
.logo img{
    height: 50px;
}

/* Menu */
.menu{
    display: flex;
    gap: 30px;
}

.menu a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    transition: 0.3s;
}

/* Hover menu */
.menu a:hover{
    color: #4D53A0;
}

/* Área de ações */
.acoes{
    display: flex;
    align-items: center;
    gap: 15px;
}

/* Botão Dark Light */
#toggle-theme{
    background-color: transparent;
    border: 2px solid #4C4F75;
    color: #FFFFFF;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

#toggle-theme:hover{
    background-color: #4C4F75;
}

/* Botão login */
.btn-login{
    text-decoration: none;
    background-color: #131B80;
    color: #FFFFFF;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: 500;
    transition: 0.3s;
}

.btn-login:hover{
    background-color: #4D53A0;
}